<style>

h3 {
font-family: Arial,Helvetica,sans-serif;
font-size: 20px;
}

p, li {
font-family: Arial,Helvetica,sans-serif;
font-size: 15px;
margin-bottom: 10px;
text-align: left;
}

</style>

<h3>Representing {{familyTotal}} families, {{speciesTotal}} species, and {{plantTotal}} individual plants</h3>
<p><strong>Acknowledging the Gadigal peoples of the Eora nation who are the traditional custodians upon whose ancestral lands the University of Sydney campuses stand.</strong></p>

<p><strong>Project team: </strong>Rosanne Quinnell, Xiaolong Wang, Lachlan Pettit, Nic Barker, Caroline Cheung, Grant Zeng, Matthew Pye, Satyendra Sinha<br/></p>

<p>CampusFlora extends the teaching of botany from the classroom into the University of Sydney campus grounds and enables us to share our learning resources with the broader community. CampusFlora maps the locations of individual plants provides botanical information on each species. Trails highlight important aspects of select plant groups and align with the current botanical curriculum. We encourage those using Campus Flora to provide us with feedback and we will use this to shape future versions and to develop additional trails.
</p>

</br>

<h3><Strong>Campus Flora</Strong></h3>
<p>The project team acknowledges the support of the School of Life and Environmental Sciences and University of Sydney grounds staff.</p>

<p><strong>Project lead:</strong> Rosanne Quinnell<br />

<p>
<strong>Developer Website: </strong><a href = "https://campusflora.wordpress.com/">https://campusflora.wordpress.com/ </a><br/>
<strong>Email: </strong><a href = "campus.flora@sydney.edu.au">campus.flora@sydney.edu.au</a> <strong>Twitter: </strong><a href = "https://twitter.com/campusfloraoz">@CampusFloraOz</a><br/>
</p>

<p><strong>Photography:</strong> L Pettit (&copy L Pettit), A Pursey (&copy A Pursey), C Cheung (&copy C Cheung), G Zeng (&copy L G Zeng), eBOT and graphics &copy The University of Sydney.
</p>

<h3><strong>Botanical content</strong></h3>
<ul>
<li>Earle C.J. (Ed) 2013. The Gymnosperm Database. <a href = "http://www.conifers.org/">http://www.conifers.org/</a></li>
<li>EUCLID: Eucalypts of Australia. 2006.  3rd Ed. <a href = "https://www.anbg.gov.au/cpbr/cd-keys/euclid3/euclidsample/html/index.htm">https://www.anbg.gov.au/cpbr/cd-keys/euclid3/euclidsample/html/index.htm</a></li>
<li>Henwood M., Quinnell R., Brownlee R., Hanfling S, et al. 2014. eBOT Plant Sciences Collection, The University of Sydney. <a href = "http://ebot.library.usyd.edu.au/ ">http://ebot.library.usyd.edu.au/ </a></li>
<li>Judd W.S., Campbell C.S., Kellogg E.A., Stevens P.F. and Donoghue M.J. 2007. Plant Systematics, a phylogenetic approach.3rd Edition. Sinauer Associates, Sunderland, MA.</li>
<li>Pellow B., Henwood M. and Carolin R. 2014. eFlora: vascular plants of the Sydney Region. The University of Sydney.  <a href = "http://eflora.library.usyd.edu.au/">http://eflora.library.usyd.edu.au/</a></li>
<li>Pellow B, Henwood M. and Carolin R. 2009. The Flora of the Sydney Region. 5th Edition. Sydney University Press: Sydney.</li>
<li>The Royal Botanic Gardens and Domain Trust. 12th August, 2014. PlantNET - The Plant Information Network System of The Royal Botanic Gardens and Domain Trust, Sydney, Australia (version 2.0).<a href = "http://plantnet.rbgsyd.nsw.gov.au ">http://plantnet.rbgsyd.nsw.gov.au </a></li>
</ul>

<p><a href = "http://sydney.edu.au/privacy-policy.html">Privacy Policy</a> </p>
<br/>

<h3><strong>Licence</strong></h3>
<p>Campus Flora is offered under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or any later version.</p>

